*{
    box-sizing: border-box;
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(232, 145, 90);
}

.btn {
    background-color: rgb(244, 122, 7);
    border-radius: 5px;
    border: none;
    color: #fff;
    margin: 1rem;
    padding: 1.5rem 3rem;
    font-family: inherit;
    cursor: pointer;
}

.btn:focus {
    outline: none;
}

.btn:hover{
    opacity: 0.9;
}